# Dependencies
node_modules/
**/node_modules/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Test results & reports
Playwright/test-results/
Playwright/playwright-report/
Playwright/log/
WebdriverIO/log/
WebdriverIO/logs/
WebdriverIO/.wdio-*

# Environment variables
.env
**/.env

# OS files
.DS_Store
Thumbs.db
